
.row{
    max-width: 90%;
    margin:0 auto;
    padding-top: 2rem;
}

.sh_block{
    height: 30rem;
}

.sh_block_header{
    height: 4rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    border-radius: 0px;
    position: relative;
}

.sh_block_header span{
    font-size:18px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left:1rem;
}

.sh_block_body{
    border-width: 1px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    border-radius: 0px;
    position: relative;
}
